/* styles/globals.css */
.bg-custom-blue {
  background-color: #33618D;
}


.font-custom {
  font-family: 'Oxanium', Sans-serif;
  font-weight: 400;
  color: aliceblue;
  font-size: larger;
  margin: 10px;
}

.active-link {
  color: darkgrey; 

}

.custom{
  border-radius:0px ;
  color: white;
}

.header{
  position: relative;
}



.font-custom:hover{
  color:darkgrey
}

.dropdown-menu {
  
  border-radius: 0px;
  padding: 0px;
}
.text-decoration{
  font-family: 'Oxanium', Sans-serif;
  font-weight: 400;
}
.text-decoration:hover {
  color: whitesmoke;
}
.dropdown-item {
border-bottom: 1px solid #33618D;;
}

.dropdown-item:hover {
  background-color: #33618D;
}
.underline:last-child {
  border-bottom: none;
}

.margin{
  margin-left: 80px;
}

.navbar-nav{
  margin-left:290px
}
/* Footer styles */
.bg-footer {
  background-color: #33618D;
  color: white;
  padding: 1rem;


}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* altura mínima de la ventana */
}

.content-wrap {
  flex: 1; /* el contenido toma todo el espacio disponible */
}

 .punto{
  color: #DEA123; /* o el color que uses */
  list-style-type: disc; /* círculo sólido */
  margin-left: 20px; /* separación del borde */
}

a{
  color: #DEA123
}

.font-li{
  text-decoration: none;
  color: white;
    font-family: "Oxanium", Sans-serif;
 
  
}

.font-li2{
  all: unset;
  color: white;
  font-family: "Oxanium", Sans-serif;
}

.font-tittle{
  font-family: "Oxanium", Sans-serif;
}


.primary-tittle{
  font-family: "Oxanium", Sans-serif;
  font-weight: 900;
  color: #DEA123;
  font-size: 5rem;
}

.btn-primary {
  background-color: #DEA123;
  color: white;
  border: none;
  padding: 10px 20px;
  font-family: "Oxanium", Sans-serif;
  font-weight: 700;
  border-radius: 50px;
  transition: transform 0.3s ease;
  height: 60px;
  width: 200px;
}


.btn-primary:hover {
  background-color: #DEA123;
  transform: scale(0.9);
  


}

.first-section{
  margin-left: 150px;
  
}

.font-button{
  font-family: "Oxanium", Sans-serif;
  font-weight: 700;
  color: white;
  
  font-size: larger;
}

.text-center{
  background-color: white;
  padding: 150px;
  border-top: 5px solid #33618D;


}
.tittle-numbers{
  font-family: "Oxanium", Sans-serif;
  font-weight: 700;
  color: #33618D;
  font-size: 5rem;
}
.font-numbers{
  color: #33618D;
  font-family: "Oxanium", Sans-serif;
  font-weight: 100;
  font-size: 200%;
}